{
  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-comments",
    "promise",
    "import"
  ],
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:promise/recommended",
    "plugin:eslint-comments/recommended",
    "prettier"
  ],
  "ignorePatterns": [
    "*.js",
    "typechain-types"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "indent": [
      "error",
      2,
      {
        "flatTernaryExpressions": false
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "no-unused-expressions": 0,
    "@typescript-eslint/no-unused-expressions": 0,
    "import/extensions": 0,
    "import/prefer-default-export": "off",
    "eslint-comments/disable-enable-pair": 0,
    "import/no-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true
      }
    ],
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": true
      }
    ],
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true,
        "typedefs": true
      }
    ]
  }
}